* {
	margin: 0;
	border: 0;
	font-family: arial,sans-serif;
}
hr {
	height: 1px;
	margin-top:2px;
	margin-bottom:2px;
	background-color:#000;
}
body {
	background-color: #555;
}
#main {
	width: 960px;
	background-color: #ddd;
	margin: 0px auto;
}
#center_content {
}
#content {
	padding: 10px;
	float: left;
	display: inline;
	vertical-align:top;
	width: 760px;
}
#fbframe {
	margin-left: 0px;
}
.menu_bottom {
	height:100%;
}
#contentleft {
	width: 160px;
	float: left;
	padding-bottom: 5px;
	display: inline;
	font-size: 15px;
	background: #000;
	color: #eee;
	text-align: center;
}
#contentleft ul {
	padding: 0px;
	margin: 0px;
	border-bottom: solid 1px #ddd; /*should match the color of main's background */
}
#contentleft li {
	display: inline-block;
	/*margin-top: 1px;*/
	width: 160px;
	height: 40px;
	border-top: solid 1px #ddd; /*should match the color of main's background */
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
#contentleft li :hover{
	background: #333;
}

/* this is for the drop-down menus */
.dropdownlist {
	display: none;
	position: absolute;
	width: 158px;
	padding: 0px;
	margin-top: 7px;
	/*border-left: solid 1px #000;
	border-right: solid 1px #000;*/
}
.menu_table_td ul {
	padding: 0px;
	margin: 0px;
	border-bottom: solid 1px #000;
}
.menu_table_td li {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 158px;
	height: 35px;
	border-top: solid 1px #000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 75%;
}
.menu_table_td li a:hover {
	/*text-decoration: underline; */
	color: #eee;
}
.menu_table_td li a {
	text-decoration: none;
	color: #eee;
	display:table-cell;
	vertical-align: middle;
	width: 158px;
	height: 35px;
}
.menu_table_td li :hover{
	/*background: #555;*/
	/* rgba: red, green, blue, alpha (for transparency) */
	background-color: rgba(255,255,255,0.2);
}
.bg_black li {
	background: #000;
}
.bg_purple li { 
	background: #6A096E; 
}
.bg_blue   li { 
	background: #066AA6; 
}
.bg_green  li { 
	background: #7E8B27; 
}
.bg_yellow li { 
	background: #FF9E0B; 
}
.bg_orange li { 
	background: #FF5200; 
}
.bg_red   li { 
	background: #FB0024; 
}



#contentleft a {
	color: #eee;
	text-decoration: none;
}
#contentleft li a:hover {
	/*text-decoration: underline; */
	color: #eee;
}
#contentleft li a {
	display:table-cell;
	vertical-align: middle;
	width: 160px;
	padding-left: 2px;
	height: 40px;
}
#page {
	width: 100%;
	align: center;
	background-color: #555;
	min-height: 100%;
	padding-bottom: 20px;
}
.clearing {
	clear:both;
}
a {
	color: #000;
	/*text-decoration: none;*/
}
a:hover {
	text-decoration: underline; 
	color: #900;
}
.bg_black {
	background: #000;
}
.bg_purple { 
	background: #6A096E; 
}
.bg_blue   { 
	background: #066AA6; 
}
.bg_green  { 
	background: #7E8B27; 
}
.bg_yellow{ 
	background: #FF9E0B; 
}
.bg_orange { 
	background: #FF5200; 
}
.bg_red    { 
	background: #FB0024; 
}
.menu_table {
	/*border: 2px #000 solid;*/
	width: 960px;
}
.menu_table_td {
	display: inline-block;
	background-color: #000;
	float: left;
	/* using padding in lieu of borders for cross-browser compat */ 
	padding: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.menu_table_td_inner {
	display: table-cell;
	width: 158px; /*160 minus the 1px padding on each side*/
	height: 33px; /*160 minus the 1px padding on each side*/
	vertical-align: middle;
	font-size: 1em; 
	color: #fff; 
	font-weight: bold; 
	text-align: center; 
	text-decoration: none;
	/*padding:2px;*/
}
.toplinks { 
	text-decoration: none; 
	cursor: pointer; 
	color: #fff;
}
.toplinks:hover { 
	text-decoration: underline; 
	color:#fff;
}
.toplinks:visited { 
	color:#fff;
}

h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}
.colorbox {
	margin-top: 2px;
	width: 160px;
	height: 35px;
	display: block;
}
#footer {
	font-size: 0.8em;
	text-align: center;
	color: #fff
}

.top_message
{
	padding: 5px;
	font-size: 20px;
	color: #fff;
	background: #161616;
	text-align: center;
}
blockquote {
	padding-left: 20px;
}

/*Image alignment*/
img.floatLeft {
float: left;
margin: 4px;
}
img.floatRight {
float: right;
margin: 4px;
}
img.floatcenter {
float: center;
margin: 4px;
}

/*Text Colors*/
.purple { 
	color: #6A096E; 
}
.blue{ 
	color: #066AA6; 
}
.green  { 
	color: #7E8B27; 
}
.yellow { 
	color: #FF9E0B; 
}
.orange { 
	color: #FF5200; 
}
.red   { 
	color: #FB0024; 
}
.white {
	color: #FFF
}
.blue2 {
	color: #0066FF
}
.currentcolor {
	color: #660000
}